<mat-card>
	<mat-card-header>
		<mat-card-title>
			Parameter mapping for effect {{ (effect$|async).name }}
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<hr>
		<app-param-mapping-page></app-param-mapping-page>
	</mat-card-content>
	<mat-card-footer>
		<div class="card-buttons">
			<div class="horizontal-group">
				<button mat-raised-button (click)="onCancelClick()">Cancel</button>
				<button mat-raised-button color="primary" (click)="onSaveClick()">Save</button>
			</div>
		</div>
	</mat-card-footer>
</mat-card>