.param-mapping-col {
	max-width: 12.5%;

	&:not(:last-child):not(.action) {
		border-right: 1px solid #f0f0f0;
	}

	&.action {
		.add {
			padding: 12px;
		}
		padding-left: 20px;
	}

	.name {
		text-align: center;
		font-weight: 700;
		font-size: 1.2em;
		padding: 20px 10px;
		cursor: pointer;

		&.active {
			background-color: #F0F0F0;
		}
	}

	.active-select {
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 1px solid #f0f0f0;
		.not-selected {
			color: #d0d0d0;
			cursor: pointer;
		}
	}
}

.mapping-detail {
	.empty {
		font-style: italic;
	}

	.endpoint-value {
		font-weight: bold;
	}

	.learning {
		color: red;
		font-style: italic;
	}
}