<div class="flex-row" style="width: 100%">
	<div class="flex param-mapping-col" *ngFor="let mapping of (mappings$|async)">
		<div [class]="'name' + (mapping.id === ((selectedMapping$|async)?.id) ? ' active' : '')" (click)="onSelectClick(mapping.id)" (dblclick)="onEditNameClick(mapping.id)">
			{{ mapping.name }}
		</div>
	</div>
	<div class="flex param-mapping-col action" *ngIf="(mappings$|async).length < 8">
		<div class="add">
			<button mat-raised-button color="primary" (click)="onAddClick()">
				<mat-icon>add</mat-icon>
				Add
			</button>
		</div>
	</div>
</div>
<div *ngIf="(selectedMapping$|async) as selectedMapping" class="mapping-detail key-value-container">
	<hr>
	<div class="text-right">
		<button mat-raised-button color="warn" (click)="onRemoveClick(selectedMapping.id)">
			<mat-icon>delete</mat-icon>
			Remove mapping item
		</button>
	</div>
	<div class="key-value">
		<div class="key">
			Endpoint
		</div>
		<div class="value">
			<span *ngIf="selectedMapping.mainItemId === null" class="empty">
				no endpoint
			</span>
			<span *ngIf="selectedMapping.mainItemId !== null" class="endpoint-value">
				{{ selectedMapping.items[selectedMapping.mainItemId].endpoint }}
			</span>
			<br><br>
			<span *ngIf="!(isParamLearning$|async)">
				<button mat-raised-button color="primary" (click)="setParamLearning(true)">
					Learn
				</button>
			</span>
			<span *ngIf="isParamLearning$|async" class="learning">
				Learning...
				<button mat-raised-button color="primary" (click)="setParamLearning(false)">
					Stop
				</button>
			</span>
		</div>
	</div>
	<div class="key-value" *ngIf="selectedMapping.mainItemId !== null" class="strategy-select">
		<div class="key">
			Strategy:
		</div>
		<div class="value">
			<mat-button-toggle-group name="strategy" aria-label="Font Style" [(value)]="selectedMapping.items[selectedMapping.mainItemId].mappingStrategy.type">
				<mat-button-toggle value="linear" (change)="onStrategySelected($event.value)">Linear</mat-button-toggle>
				<mat-button-toggle value="linearList" (change)="onStrategySelected($event.value)">Linear steps</mat-button-toggle>
				<mat-button-toggle value="list" (change)="onStrategySelected($event.value)">List</mat-button-toggle>
			</mat-button-toggle-group>
		</div>
	</div>
	<div class="key-value" *ngFor="let mappingItem of selectedMapping.items; let i = index">
		<div class="key">
			Mapping details:
		</div>
		<div class="value">
			<div *ngIf="mappingItem.mappingStrategy.type === 'linear'" class="mapping-strategy">
				<app-linear-param-mapping-strategy [currentItemId]="i"></app-linear-param-mapping-strategy>
			</div>
		</div>
	</div>
</div>