<mat-card>
	<mat-card-header>
		<mat-card-title>
			Available effects
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div *ngIf="(effects$ | async).length > 0">
			<mat-list>
				<mat-list-item *ngFor="let item of effects$ | async">
					<div class="flex-row" style="width: 100%">
						<div class="flex">
							<div>
								<div>
									<h4 matLine> {{ item.name }}</h4>
								</div>
							</div>
						</div>
						<div class="flex">
							<div>
								<div [innerHTML]="item.placement | effectPlacement">
								</div>
							</div>
						</div>
						<div class="flex flex-row horizontal-group">
							<button mat-raised-button color="primary" (click)="openAvailability(item.id)">
								<mat-icon>power</mat-icon>
								Availability
							</button>
							<button mat-raised-button color="primary">
								<mat-icon>launch</mat-icon>
								Parameter mapping
							</button>
						</div>
					</div>
					<mat-divider></mat-divider>
				</mat-list-item>
			</mat-list>
		</div>
		<div *ngIf="(effects$ | async).length === 0">
			No effects are present in your bidule layout.
		</div>
	</mat-card-content>
</mat-card>