<mat-card>
	<mat-card-header>
		<mat-card-title>
			Available layouts
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div *ngIf="(layouts$ | async).length > 0">
			<mat-list>
				<mat-list-item *ngFor="let layout of layouts$ | async">
					<div style="display:flex; justify-content:space-between;align-items:center; width: 100%">
						<div style="display:flex; align-items:center">
							<mat-icon matListAvatar>person</mat-icon>

							<div style="display:flex; flex-direction:column">
								<div>
									<h3 matLine> {{ layout.name }}</h3>
								</div>
								<div style="margin-top:-30px">
									<p matLine>
										<span *ngIf="!layout.lastOpened">
											<i>never opened</i>
										</span>
										<span *ngIf="layout.lastOpened">
											<i>last opened {{ layout.lastOpened | date: 'd.M.yyyy H:mm' }}</i>
										</span>
									</p>
								</div>
							</div>
						</div>
						<div style="margin-left: auto;">
							<a mat-icon-button [routerLink]="'./edit/' + layout.id">
								<mat-icon>edit</mat-icon>
							</a>
							<button mat-icon-button (click)="selectLayout(layout.id)">
								<mat-icon>launch</mat-icon>
							</button>
						</div>
					</div>
				</mat-list-item>
			</mat-list>
		</div>
		<div *ngIf="(layouts$ | async).length === 0">
			No layouts are present in the system for now.
		</div>
		<br>
		<a mat-raised-button routerLink="edit" color="primary">
			<mat-icon>add</mat-icon>
			Add new layout
		</a>
	</mat-card-content>
</mat-card>