<mat-card>
	<mat-card-header>
		<mat-card-title>
			<div class="flex-row">
				<div class="flex">
					Presets
				</div>
				<div style="margin-left: auto;" class="horizontal-group flex">
					<div class="text-right">
						<div *ngIf="currentCategory$ | async">
							<div class="text-right">
								<button mat-raised-button color="primary" (click)="openAddPresetDialog()">
									<mat-icon>add</mat-icon>
									Add preset
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div class="flex-row">
			<div class="flex" style="max-width: 200px;">
				<div *ngIf="(categories$ | async).length === 0" class="text-center">
					<i>No categories present.<br>Please create one.</i>
				</div>
				<mat-nav-list cdkDropList (cdkDropListDropped)="handleCategorySorting($event)">
					<a *ngFor="let category of categories$ | async" mat-list-item cdkDrag [class.selected-item]="category.id === (currentCategory$|async)?.id" (click)="selectCategory(category.id)">
						<span mat-line [class.mat-list-text]="true">{{ category.name }}</span>
						<button mat-icon-button (click)="openCategoryDialog(category.id)">
							<mat-icon>edit</mat-icon>
						</button>
					</a>
					<hr>
					<a mat-list-item (click)="openCategoryDialog(null)">
						<mat-icon mat-list-icon>add</mat-icon>
						Add category
					</a>
				</mat-nav-list>
			</div>
			<div class="flex-vertical-separator"></div>
			<div class="flex">
				<div *ngIf="!(currentCategory$ | async)">
					Please, select a category first.
				</div>
				<div *ngIf="currentCategory$ | async">
					<div *ngIf="(presets$ | async).length > 0">
						<mat-list class="preset-list" cdkDropList (cdkDropListDropped)="handlePresetSorting($event)">
							<mat-list-item cdkDrag *ngFor="let item of presets$ | async" (click)="selectPreset(item.id)" [class.disabled-item]="(availableVsts$|async).indexOf(item.vstId) === -1" [class.selected-item]="(currentPresetId$|async) === item.vstId">
								<div class="flex-row flex-content-center" style="width: 100%">
									<div class="flex">
										<div>
											<div>
												<h4 matLine>{{ item.name }}</h4>
											</div>
										</div>
									</div>
									<div class="flex">
										<div>
											{{ item.vstId }}
										</div>
									</div>
									<div class="flex flex-row flex-content-center horizontal-group">
										<button mat-raised-button color="primary" (click)="openPresetDetail()" [disabled]="(currentPresetId$ | async) !== item.id">
										<!-- [disabled]="!item.vstId || (availableVsts$|async).indexOf(item.vstId) === -1" -->
											<mat-icon>edit</mat-icon>
											Edit
										</button>
									</div>
								</div>
							</mat-list-item>
						</mat-list>
					</div>
					<div *ngIf="(presets$ | async).length === 0">
						No presets present in selected category.
					</div>
				</div>
			</div>
		</div>
	</mat-card-content>
</mat-card>